<template>
    <div class="row">
        <ashvatha-spinner v-if="!name"></ashvatha-spinner>
        <div class="col" v-else>
            <h2>Edit Profile - {{ name }}</h2>
            <form enctype="multipart/form-data" @submit.prevent="editUser">
                <div class="form-group">
                    <label for="current-password">Current Password</label>
                    <input type="password" class="form-control" id="current-password" placeholder="Password"
                           v-model="currentPass" :required="pass!==''||emailChanged">
                    <small class="form-text text-muted">Required if you want to change the Email address or Password
                        below.
                    </small>
                </div>
                <div class="form-group">
                    <label for="edit-email">Email</label>
                    <input type="email"
                           class="form-control" id="edit-email" name="edit-email" placeholder="Email" v-model="mail"
                           @change="emailChanged = true">
                    <small class="form-text text-error">{{ errors.first('edit-email') }}</small>
                    <small class="form-text text-muted">Emails from our site will be sent to this address. It will not
                        be made public.
                    </small>
                </div>
                <div class="form-group">
                    <label for="edit-password">New Password</label>
                    <input type="password" class="form-control" id="edit-password" placeholder="Password"
                           v-model="pass">
                </div>
                <div class="form-group">
                    <label for="edit-password-repeat">Repeat New Password</label>
                    <input type="password" class="form-control" id="edit-password-repeat" placeholder="Password"
                           v-model="pass2">
                </div>
                <div class="form-group">
                    <label for="upload-image">Profile Image</label>
                    <input type="file" class="form-control-file" id="upload-image" accept="image/png, image/jpeg" @change="imageUpload($event)">
                    <small class="form-text text-muted">Upload a JPG or PNG image to appear on your profile.
                    </small>
                </div>
                <div class="form-group">
                    <label>Your Info</label>
                    <quill-editor v-model="info"
                                  ref="myQuillEditor">
                    </quill-editor>
                    <small class="form-text text-muted">Let everyone know more about you.
                    </small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import ashvathaAxios from '../../ashvatha-axios'
    import 'quill/dist/quill.snow.css'
    import {quillEditor} from 'vue-quill-editor'
    import Spinner from '../Spinner'

    export default {
        name: "EditProfile",
        data() {
            return {
                name: '',
                currentPass: '',
                mail: '',
                pass: '',
                pass2: '',
                userID: 0,
                emailChanged: false,
                info: '',
                newImageID: 0
            }
        },
        computed: {
            ...mapGetters('user', {
                userImage: 'getImage'
            })
        },
        methods: {
            editUser() {
                //const accessToken = localStorage.getItem('access_token');
                //const reqHeader = {
                    //Authorization: `Bearer ${accessToken}`,
                    //'X-CSRF-Token': sessionStorage.getItem('csrf_token')
                //};

                const postData = {
                    "pass": [{"existing": this.currentPass}],
                    "mail": {
                        "value": this.mail
                    },
                    "field_info": [{
                        "value": this.info,
                        "format": "basic_html"
                    }]
                };
                if(this.newImageID > 0) {
                    postData["user_picture"] = [
                        {
                            "target_id": this.newImageID
                        }
                    ]
                }

                ashvathaAxios.patch('userEdit', postData, this.userID).then((res) => {
                //this.$http.patch('https://ashvatha.org/d8/web/user/' + this.userID + '?_format=json', postData, {headers: reqHeader, withCredentials: true}).then((res) => {
                    //console.log(this.userID);
                    console.log(res);
                    this.name = res.data.name[0].value;
                    this.mail = res.data.mail[0].value;
                    if (res.data.field_info[0].hasOwnProperty('value')) {
                        this.info = res.data.field_info[0].value;
                    }
                    this.$notify({
                        group: 'alerts',
                        title: 'Success',
                        text: 'Account updated.',
                        type: 'success'
                    });
                    this.$router.push({ name: 'profile', params: { id: this.userID }});
                    // if (this.pass) {
                    //     this.currentPass = this.pass;
                    // }
                    //Access key is reset upon updating info.
                    //this.$store.dispatch('refreshAccessToken');
                }).catch((err) => {
                    console.log(err.response);
                    this.$notify({
                        group: 'alerts',
                        title: 'Error updating account.',
                        text: err.response.data.message,
                        type: 'error'
                    });
                });

            },
            imageUpload(event) {
                ashvathaAxios.upload('userImageUpload', event.target.files[0]).then((res) => {
                    console.log(res);
                    this.newImageID = res.data.fid[0].value;
                }).catch((err) => {
                    console.log(err.response);
                });
            }
        },
        created() {
            // const accessToken = localStorage.getItem('access_token');
            // const reqHeader = {Authorization: `Bearer ${accessToken}`};
            //
            // //Get user ID from JWT access token.
            // var base64Url = accessToken.split('.')[1];
            // var base64 = base64Url.replace('-', '+').replace('_', '/');
            // var parsed = JSON.parse(window.atob(base64));
            // this.userID = parseInt(parsed.sub);
            this.userID = this.$route.params.id;

            ashvathaAxios.get('userInfo', this.userID).then((res) => {
                //this.$http.get('https://ashvatha.org/d8/web/user/' + this.userID + '?_format=json', {headers: reqHeader}).then((res) => {
                console.log(res);
                this.name = res.data.name;
                this.mail = res.data.mail;
                this.info = res.data.field_info;

            }).catch((err) => {
                console.log(err);
            });

            ashvathaAxios.getCsrfToken();

        },
        components: {
            quillEditor,
            ashvathaSpinner: Spinner
        }
    }
</script>

<style>
    .ql-container {
        background-color: white;
    }

    .text-error {
        color: #e11b1b;
        font-weight: bold;
    }
</style>