<template>
    <div>
        <ashvatha-spinner v-if="!name"></ashvatha-spinner>
        <div class="row" v-else>
            <div class="col-sm-3">
                <img :src="pictureURL" alt="User image" class="user-image">
            </div>
            <div class="col-sm-9">
                <h1>{{ name }}</h1>
                <div class="user-info" v-html="info"></div>
            </div>
        </div>
    </div>
</template>

<script>
    import ashvathaAxios from '../../ashvatha-axios'
    import Spinner from '../Spinner.vue'

    export default {
        name: "Profile",
        data() {
            return {
                name: '',
                uid: 0,
                info: '',
                pictureURL: 'https://ashvatha.org/d8/web/sites/default/files/styles/medium/public/default_images/Ashvatha-Logo.png'
            }
        },
        created() {
            const userID = this.$route.params.id;

            ashvathaAxios.get('userInfo', userID).then((res) => {
                const userInfo = res.data;
                this.name = userInfo.name;
                this.uid = userInfo.uid;
                this.info = userInfo.field_info;
                this.pictureURL = userInfo.user_picture;
            }).catch((err) => {
                console.log(err);
            });
        },
        components: {
            ashvathaSpinner: Spinner
        }
    }
</script>

<style>
    .user-image {
        background-color: #fff;
    }
</style>