<template>
    <div class="row">
        <div class="col">
            <h1>About Us</h1>
            <p>Ashvatha Foundation is a not for profit organization. We are an Earth Stewardship Global foundation for
                humanitarian, charity, education, health, environment & art community.</p>
            <hr class="ashvatha-hr">
        </div>
    </div>
</template>

<script>
    export default {
        name: "About"
    }
</script>

<style scoped>

</style>