<template>
    <div class="row">
        <div class="col">
            <h1>Contact The Ashvatha Foundation</h1>
            <p><b>Email:</b><br>
                <a href="mailto:email@email.com">email@email.com</a></p>
            <p><b>Address:</b><br>
                123 Street<br>
                Australia</p>
            <p>Or send a message directly:</p>
            <form id="contact-form">
                <div class="form-group">
                    <label for="contact-name">Name:</label>
                    <input type="text" class="form-control" id="contact-name" placeholder="">
                </div>
                <div class="form-group">
                    <label for="contact-email">Email:</label>
                    <input type="email" class="form-control" id="contact-email" placeholder="">
                </div>
                <div class="form-group">
                    <label for="contact-message">Message:</label>
                    <input type="textarea" class="form-control" id="contact-message" placeholder="">
                </div>
                <button type="submit" class="btn btn-primary" @click.prevent="">Submit</button>
            </form>
            <hr class="ashvatha-hr">
        </div>
    </div>
</template>