<template>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-info col-lg-6">
                    <h3>Ashvatha Foundation</h3>
                    <img src="https://ashvatha.org/sites/default/files/cc-by.png" alt="Creative Commons Logo"><br>
                    Ashvatha.org design & original articles licensed under <a
                        href="https://creativecommons.org/licenses/by/4.0/">CC Attribution 4.0 International License</a>.
                    Contributed content may be under copyright. 2018
                </div>
                <div class="footer-stats col-lg-6">
                    <div class="count-box"><div class="count-total">{{ articleCount }}</div>Articles</div>
                    <div class="count-box"><div class="count-total">{{ memberCount }}</div>Members</div>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
    import ashvathaAxios from '../ashvatha-axios'

    export default {
        data() {
            return {
                articleCount: '...',
                memberCount: '...'
            }
        },
        created() {
            ashvathaAxios.get('stats').then((res)=> {
                this.articleCount = res.data.nodeCount;
                this.memberCount = res.data.userCount;
            }).catch((err) => {
                console.log(err);
            });
        }
    }
</script>

<style>
    .footer {
         /* Set the fixed height of the footer here */
        /* line-height: 75px;  Vertically center the text there */
        background-color: #193540;
        font-family: Federo;
        font-size: 90%;
        color: white;
        overflow:hidden;
        background-image: url('https://ashvatha.org/sites/all/themes/ashvatha2014/images/footer3-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

    .footer .container {

    }

    .footer a {
        color: #EACE75;
    }

    .footer h3 {
        color: #EACE75;
        font-size: 135%;
    }

    .footer-info {
        padding-top: 5px;

    }

    .footer-info img {
        width: 85px;
        padding-bottom:5px;
    }

    .footer-stats {
        display: flex;
        align-items: flex-end;
    }

    .count-box {
        float: left;
        border: 2px white solid;
        padding: 3px 13px;
        text-align: center;
        font-size: 0.9em;
        line-height: 1.15;
        margin: 5px 4px 2px 0;
    }
    .count-total {
        color: #EACE75;
    }

    @media (min-width: 992px) {
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            margin-bottom: 120px; /* Margin bottom by footer height */
        }
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 120px;
            background-size: auto;
        }
        .footer .container {
            height: 120px;

        }
    }
</style>