<template>
    <div class="ashvatha-header">
        <img class="header-image" src="https://ashvatha.org/sites/all/themes/ashvatha2014/images/ashvatha-header.jpg" alt="Sun Rays">
        <transition name="zoom-in" appear>
            <img src="http://ashvatha.org/sites/default/files/ashvatha-title.png" alt="Ashvatha Foundation" class="header-image-overlay">
        </transition>
    </div>
</template>

<script>

</script>

<style>
    .ashvatha-header {
        background-color: #EBCE6A;
        position:relative;

    }
    .header-image {
        margin: 0 auto;
        display: block;
        max-width: 100%;
    }
    .header-image-overlay {
        position:absolute;
        left:0;
        right:0;
        margin:0 auto;
        bottom:10%;
        max-width:100%;
    }
    .zoom-in-enter-active, .zoom-in-leave-active {
        transition: all 1.5s;
    }
    .zoom-in-enter, .zoom-in-leave-to /* .fade-leave-active below version 2.1.8 */ {
        transform: scale(0);
        opacity:0;
    }

</style>