<template>
    <div>
    <div class="row">
        <div class="col">
            <h1>Welcome to Ashvatha.org!</h1>
            <hr class="ashvatha-hr">
        </div>
    </div>
        <div class="row">
            <div class="col-sm">
                <p>Ashvatha Foundation is a non-profit organization founded to foster collective collaboration between
                    conscious communities around the Planet. This golden globe is our symbol in unity with all life that
                    we embrace as One-family, Golden Sun & Earth.</p>
            </div>
            <div class="col-sm">
                <p>Ashvatha is a co-creation seed of our highest intention of love, unity, equality, prosperity, harmony
                    & abundance to all life upon/within planet Earth. We have established an open garden space to
                    welcome all to support, nurture, protect & preserve our Ashvatha Tree of Love.</p>
            </div>
        </div>
    <div class="row">
        <div class="ashvatha-hr-row">
            <hr class="ashvatha-hr">
        </div>
    </div>
    </div>
</template>

<script>
    export default {}
</script>

<style>

</style>
