<template>
    <div class="navbar navbar-expand-lg navbar-dark" @click="toggleMenu">
        <div class="container">
            <router-link to="/" class="navbar-brand" active-class="nothanks" id="home-link" @click.stop="" exact>
                Ashvatha Foundation
            </router-link>
            <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-icon"></span></button>
            <transition name="navtoggle">
                <div id="navbarResponsive" class="navbar-collapse" v-if="showMenu || !isMobile" :class="{'desktop-menu': !isMobile}">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <router-link to="/news" class="nav-link">News</router-link>
                        </li>
                        <!--<li class="nav-item">-->
                            <!--<router-link to="/education" class="nav-link">Education</router-link>-->
                        <!--</li>-->
                        <li class="nav-item">
                            <router-link to="/groups" class="nav-link">Community</router-link>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <router-link to="/about" class="nav-link">About</router-link>
                        </li>
                        <li class="nav-item">
                            <router-link to="/contact" class="nav-link">Contact</router-link>
                        </li>
                        <li class="nav-item">
                            <router-link to="/create/article" class="nav-link nav-create">+</router-link>
                        </li>
                    </ul>
                    <transition name="fade" mode="out-in">
                        <div id="user-info" v-if="loggedIn" key="user-info" @click.stop :class="{isMobile}">
                            <transition name="fade">
                                <img :src="userImage" alt="user image" id="user-image" @click="toggleUserMenu"
                                     v-show="imageLoaded" @load="imageLoaded = true" :class="{activeMenu: showUserMenu }">
                            </transition>
                            <div v-if="showUserMenu" id="user-menu">
                                <ul @click="toggleUserMenu">
                                    <li><router-link :to="{ name: 'profile', params: { id: userID }}" active-class=""><b>{{ userName }}</b></router-link></li>
                                    <li><router-link :to="{ name: 'profile', params: { id: userID }}" active-class="">View Profile</router-link></li>
                                    <li><router-link :to="{ name: 'edit-profile', params: { id: userID }}" active-class="">Edit Profile</router-link></li>
                                    <li id="logout-button" @click="sendLogOut">Logout</li>
                                </ul>
                            </div>
                            <!--<button type="button" id="userLogout" class="btn btn-primary" @click.prevent="sendLogOut">-->
                            <!--Logout-->
                            <!--</button>-->
                        </div>
                        <div id="user-login" v-else key="user-login">
                            <router-link to="/login/signin" active-class="nothanks" tag="button" class="btn">Login
                            </router-link>
                        </div>
                    </transition>

                </div>
            </transition>

        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import {mapState} from 'vuex'

    export default {
        data() {
            return {
                showMenu: false,
                showUserMenu: false,
                imageLoaded: false
            }
        },
        computed: {
            //userID: this.$store.getters
            ...mapGetters('user', {
                userID: 'getID',
                userName: 'getName',
                userImage: 'getImage'
            }),
            ...mapState({
                isMobile: 'isMobile',
                loggedIn: 'loggedIn'
            })
        },
        methods: {
            toggleMenu(event) {
                if (event.target.id !== "home-link" || this.showMenu) {
                    this.showMenu = !this.showMenu;
                }

            },
            toggleUserMenu() {
                this.showUserMenu = !this.showUserMenu;

            },
            sendLogOut() {
                this.$notify({
                    group: 'alerts',
                    title: 'Logged Out',
                    type: 'notice'
                });
                this.$store.dispatch('logout').then(() => {
                    this.$router.push('/');
                });
            }
        }
    }
</script>

<style>
    .navbar {
        background-color: #c39a47;
        background: linear-gradient(to bottom, #e3c454 0%, #c39a47 100%);
    }

    .navbar a {
        color: #fff;
        transition: all 0.1s;
    }

    .navbar .btn {
        padding: 0.175rem .75rem;
    }

    .navbar .router-link-active {
        font-weight: bold;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    .navbar-dark .navbar-nav a.nav-link {
        color: rgba(255, 255, 255, 1.0);
    }

    .ml-auto {
        margin-right: 0.25em;
    }

    #navbarResponsive {
        position:relative;
    }

    .navtoggle-enter-active {
        transition: all 0.5s ease;
        max-height: 400px;
    }

    .navtoggle-leave-active {
        transition: all 0.2s ease;
        max-height: 400px;
    }

    .navtoggle-enter, .navtoggle-leave-to /* .fade-leave-active below version 2.1.8 */
    {
        opacity: 0;
        max-height: 0;
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity 0.5s;
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
    {
        opacity: 0;
    }

    #user-info {
        position: absolute;
        width: 40px;
        height: 40px;
        right:0px;
        top: 10px;
    }

    .desktop-menu #user-info {
        position:relative;
        top:0px;
    }

    #user-menu {
        position: absolute;
        right: 0;
        min-width: 200px;
        background-color: #c39a47;
        background: -webkit-gradient(linear, left top, left bottom, from(#e3c454), to(#c39a47));
        background: linear-gradient(to bottom, #e3c454 0%, #c39a47 100%);
        z-index:999;
        color:white;
        border: 2px solid #ffe388;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    }

    #user-menu ul {
        margin: 8px auto;
    }

    #user-menu ul li:first-of-type {
        font-size:120%;
        list-style: none;
        margin-left: -15px;
    }

    #user-menu ul li:first-of-type a:hover {
        text-decoration:none;
    }

    #logout-button:hover {
        text-decoration: underline;
    }

    #user-image {
        cursor: pointer;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        border: #fff 1px solid;
        box-shadow: 0px 0px 5px white;
        transition: all 0.2s;
        background-color:rgba(255,255,255,0.4);
    }
    #user-image:hover {
        box-shadow: 0px 0px 8px white;
    }
    #user-image.activeMenu {
        box-shadow: 0px 0px 12px white;
    }
    #logout-button {
        cursor:pointer;
    }
    .nav-create {
        border: 1px solid white;
        border-radius: 5px;
        font-size: 150%;
        font-weight: bold;
        padding: 0 8px;
        background-color: #bc832c;
        background: linear-gradient(to bottom, #efd98c 0%, #cea657 100%);
        color: #fffcf2;
    }
</style>