<template>
    <div class="spinner"></div>
</template>

<script>
    export default {
        name: "Spinner"
    }
</script>

<style scoped>
    .spinner {
        border: 6px solid #f0e2ae;
        border-radius: 50%;
        border-top: 6px solid #c39a47;
        width: 80px;
        height: 80px;
        -webkit-animation: spinner 1s linear infinite; /* Safari */
        animation: spinner 1s linear infinite;
        margin: 0 auto;
    }

    /* Safari */
    @-webkit-keyframes spinner {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spinner {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>