<template>
    <div>
        <form>
            <div class="form-group">
                <label for="article-title">Title</label>
                <input type="text" class="form-control" v-model="title" id="article-title">
            </div>
            <div class="form-group">
                <label>Body</label>
                <quill-editor v-model="body"
                              ref="myQuillEditor">
                </quill-editor>
            </div>
            <div class="form-group">
                <label for="upload-image">Article Image</label>
                <input type="file" class="form-control-file" id="upload-image" accept="image/png, image/jpeg"
                       @change="imageUpload($event)">
                <small class="form-text text-muted">Upload a JPG or PNG image to appear with your article.
                </small>
            </div>
            <div class="form-group">
                <label for="article-video">Video URL</label>
                <input type="text" class="form-control" v-model="video" id="article-video">
                <small class="form-text text-muted">An optional video the will display with the article (YouTube).
                </small>
            </div>
            <div class="form-group">
                <label for="article-url">Original URL</label>
                <input type="text" class="form-control" v-model="originalURL" id="article-url">
                <small class="form-text text-muted">If the article is from another website, please enter the URL that it
                    came from.
                </small>
            </div>
            <div class="form-group">
                <label for="article-group">Add to Group</label>
                <select type="text" id="article-group" v-model="groupID" class="custom-select">
                    <option value="0" key="0">Select Group</option>
                    <option :value="group.id" :key="group.id" v-for="group in groups">{{group.title}}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" @click.prevent="createArticle">Submit</button>
        </form>
    </div>
</template>

<script>
    import ashvathaAxios from '../../ashvatha-axios'
    import {mapGetters} from 'vuex'
    import 'quill/dist/quill.snow.css'
    import {quillEditor} from 'vue-quill-editor'

    export default {
        data() {
            return {
                title: '',
                body: '',
                //tags: '',
                newImageID: 0,
                video: '',
                license: '',
                originalURL: '',
                groupID: 0
            }
        },
        computed: {
            ...mapGetters({
                groups: 'user/getGroups',
            }),
        },
        methods: {
            createArticle() {
                const postData = {
                    "title": [{"value": this.title}],
                    "type": [{"target_id": "article"}],
                    "body": [{
                        "value": this.body,
                        "format": "basic_html"
                    }]
                };
                if (this.newImageID > 0) {
                    postData["field_image"] = [
                        {
                            "target_id": this.newImageID
                        }
                    ]
                }

                ashvathaAxios.post('createNode', postData).then((res) => {
                    console.log(res);
                    if (this.groupID > 0) {
                        const groupData = {
                            "node-id": res.data.nid[0].value,
                            "group-id": this.groupID
                        };
                        //const nodeID = res.data.nid[0].value;
                        ashvathaAxios.post('groupAddNode', groupData).then((res) => {
                            console.log(res);
                        })
                    }
                }).catch((err) => {
                    console.log(err);
                });
            },
            imageUpload(event) {
                ashvathaAxios.upload('userImageUpload', event.target.files[0]).then((res) => {
                    console.log(res);
                    this.newImageID = res.data.fid[0].value;
                }).catch((err) => {
                    console.log(err.response);
                });
            }
        },
        name: "CreateArticle",
        components: {
            quillEditor
        }
    }
</script>

<style scoped>
    .ql-container {
        min-height: 150px;
    }
</style>