<template>
    <div class="row">
        <div class="col">
            <div v-if="loggedIn">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <router-link to="/create/article" class="nav-item nav-link"
                                     :class="{'active': $route.name === 'create-article'}">Article
                        </router-link>
                        <router-link to="/create/article" class="disabled nav-item nav-link">Video</router-link>
                    </div>
                </nav>
                <div>
                    <router-view></router-view>
                </div>
            </div>
            <div v-else>
                <p>You must be
                    <router-link to="/login/signin">logged in</router-link>
                    before creating any content.
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex'

    export default {
        computed: {
            ...mapState({
                loggedIn: 'loggedIn'
            })
        },
        name: "Create"
    }
</script>

<style scoped>

</style>