<template>
    <div class="row">
        <div class="col">
            <div v-if="!loggedIn">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <router-link to="/login/signin" class="nav-item nav-link" :class="{'active': $route.name === 'signin'}">Sign In</router-link>
                    <router-link to="/login/signup" class="nav-item nav-link" :class="{'active': $route.name === 'signup'}">Sign Up</router-link>
                    <!--<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>-->
                    <!--<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>-->
                </div>
            </nav>
            <div>
                <router-view></router-view>
            </div>
            </div>
            <div v-else>
                <p>You are already logged in.</p>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex';

    export default {
        computed: {
            ...mapState({
                loggedIn: 'loggedIn'
            })
        },
        watch: {
            // Send user to front page after logging in
            // eslint-disable-next-line
            loggedIn(to, from) {
                console.log(to);
                if (to) {
                    this.$router.push('/');
                }
            }
        }
    }
</script>