<template>
    <div>
        <form>
            <div class="form-group">
                <label for="signin-user">Username/Email</label>
                <input type="text" class="form-control" v-model="username" id="signin-user"
                       placeholder="Enter Username/Email">
            </div>
            <div class="form-group">
                <label for="signin-password">Password</label>
                <input type="password" class="form-control" v-model="password" id="signin-password"
                       placeholder="Password">
            </div>
            <!--
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Stay Logged In</label>
            </div>
            -->
            <button type="submit" class="btn btn-primary" @click.prevent="sendSignIn">Submit</button>
        </form>
    </div>
</template>

<script>
    import ashvathaAxios from '../../ashvatha-axios'

    export default {
        data() {
            return {
                username: '',
                password: ''
            }
        },
        methods: {
            sendSignIn() {
                const postData = {
                    name: this.username,
                    pass: this.password,
                    "form_id": "user_login_form"
                };
                ashvathaAxios.post('userLogin', postData).then((res) => {
                    console.log(res);
                    this.$cookies.set('csrf_token', res.data.csrf_token, '2000000s');
                    this.$cookies.set('current_user', res.data.current_user, '2000000s');
                    this.$cookies.set('logout_token', res.data.logout_token, '2000000s');
                    this.$notify({
                        group: 'alerts',
                        title: 'Success',
                        text: 'Login Successful.',
                        type: 'success'
                    });
                    this.$store.dispatch('user/getMyInfo');
                }).catch((err) => {
                    console.log(err);
                    this.$notify({
                        group: 'alerts',
                        title: 'Login Error',
                        text: err.response.data.message,
                        type: 'error'
                    });
                });
                //this.$store.dispatch('user/sendSignIn', {username: this.username, password: this.password});

                /*
                //var oauthURL = 'https://ashvatha.org/d8/web/user/login?_format=json';
                var oauthURL = 'https://ashvatha.org/d8/web/oauth/token';

                var loginData = new FormData();
                loginData.set('grant_type', 'password');
                loginData.set('client_id', '407fc8f3-8556-40f4-8879-704a7a412c39');
                loginData.set('client_secret', '!pztD5z%');
                //apitest
                loginData.set('username', this.username);
                loginData.set('password', this.password);
                //loginData.set('name', this.username);
                //loginData.set('pass', this.password);

                this.$http.post(oauthURL, loginData).then((res) => {
                    console.log(res.data);
                    //localStorage.setItem('access_token', res.data.access_token);
                    //localStorage.setItem('refresh_token', res.data.refresh_token);
                    //localStorage.setItem('last_access', Math.floor(Date.now() / 1000));
                    let access_token = res.data.access_token;
                    let refresh_token = res.data.refresh_token;
                    this.$store.dispatch('login', { access_token, refresh_token });
                    this.$store.dispatch('checkLogin');
                    this.$router.go(-1);
                    this.$notify({
                        group: 'alerts',
                        title: 'Login Success',
                        text: 'Redirecting to previous page...',
                        type: 'success'
                    });
                }).catch((err) => {
                    this.$notify({
                        group: 'alerts',
                        title: 'Login Failed',
                        text: 'Please check your user name and password.',
                        type: 'error'
                    });
                    console.log(err);
                });
                */
            }
        }
    }
</script>