<template>
    <div>
        <form>
            <div class="form-group">
                <label for="signup-username">Username</label>
                <input type="text" class="form-control" id="signup-username" placeholder="Username" v-model="name"
                       required>
            </div>
            <div class="form-group">
                <label for="signup-email">Email</label>
                <input type="email" class="form-control" id="signup-email" placeholder="Email" v-model="mail" required>
            </div>
            <div class="form-group">
                <label for="signup-password">Password</label>
                <input type="password" class="form-control" id="signup-password" placeholder="Password" v-model="pass"
                       required>
            </div>
            <div class="form-group">
                <label for="signup-password-repeat">Repeat Password</label>
                <input type="password" class="form-control" id="signup-password-repeat" placeholder="Password"
                       v-model="pass2" required>
            </div>
            <button type="submit" class="btn btn-primary" @click.prevent="registerUser">Submit</button>
        </form>
    </div>
</template>

<script>
    import ashvathaAxios from '../../ashvatha-axios'

    export default {
        data() {
            return {
                name: '',
                mail: '',
                pass: '',
                pass2: ''
            }
        },
        methods: {
            registerUser() {
                if (this.pass != this.pass2) {
                    this.$notify({
                        group: 'alerts',
                        title: 'Password Error',
                        text: 'Passwords do not match.',
                        type: 'error'
                    });
                    return;
                }
                const postData = {
                    name: {'value': this.name},
                    mail: {'value': this.mail},
                    pass: {'value': this.pass}
                };
                ashvathaAxios.post('userRegister', postData).then((res) => {
                //this.$http.post('https://ashvatha.org/d8/web/user/register?_format=json', postData).then((res) => {
                    console.log(res);
                    this.$store.dispatch('user/sendSignIn', {username: this.name, password: this.pass});
                    //this.$router.go('home');
                    this.$notify({
                        group: 'alerts',
                        title: 'Success',
                        text: 'New account created.',
                        type: 'success'
                    });
                }).catch((err) => {
                    console.log(err.response);
                    this.$notify({
                        group: 'alerts',
                        title: 'Registration Error',
                        text: err.response.data.message,
                        type: 'error'
                    });
                });
            }
        }
    }
</script>