<template>
    <div class="row" id="ashvatha-news-list">
        <ashvatha-spinner v-if="newsList.length < 1"></ashvatha-spinner>
        <!--<div class="col">-->
            <!--<p v-html="response"></p>-->
        <!--</div>-->
        <ashvatha-news v-for="newsItem in newsList" :key="newsItem.id" :news="newsItem"></ashvatha-news>
    </div>
</template>

<script>
    import News from './News'
    import {mapGetters} from 'vuex'
    import Spinner from '../Spinner'

    export default {
        // data() {
        //     return {
        //         response: ''
        //     }
        // },
        computed: {
            ...mapGetters({
                newsList: 'news/getNewsList'
            })
        },
        created() {
            // this.$http.get('https://ashvatha.org/d8/web/node/1?_format=json').then((res) => {
            //     console.log(res);
            //     this.response = res.data.body['0'].value;
            // }).catch((err) => {
            //     console.log(err.response);
            // });

            this.$store.dispatch('news/fetchNewsList');

        },
        components: {
            ashvathaNews: News,
            ashvathaSpinner: Spinner
        }
    }
</script>

<style>
    /*#ashvatha-news-list iframe {*/
        /*max-width:100%;*/
        /*height:auto;*/
        /*min-height:300px;*/
    /*}*/
</style>