<template>
    <div class="news-item col-sm-6">
        <div class="news-wrapper">
            <router-link :to="{ name: 'news-item', params: { id }}" v-if="!video && image">
                <img class="news-image" :src="image" alt="article image"></router-link>
            <router-link :to="{ name: 'news-item', params: { id }}" v-if="video">
                <iframe :src="'https://www.youtube.com/embed/' + video" allow="autoplay; encrypted-media"
                        allowfullscreen=""
                        width="968" height="575" frameborder="0"></iframe>
            </router-link>

            <router-link :to="{ name: 'news-item', params: { id }}"><h3>{{ name }}</h3></router-link>
            <p v-html="description"></p>
            <router-link :to="{ name: 'news-item', params: { id }}">
                <div class="news-link">Full article...</div>
            </router-link>
            <!--<div v-if="website">-->
            <!--<p><a :href="website">website</a></p>-->
            <!--</div>-->
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                name: this.news.name,
                description: this.news.body,
                image: this.news.image,
                license: this.news.license,
                video: '',
                id: this.news.id,
            }
        },
        props: [
            'news',
        ],
        mounted() {
            if (this.news.video.length > 0) {
                // Get YouTube Video ID, modified from:
                // http://web.archive.org/web/20160926134334/http://lasnv.net/foro/839/Javascript_parsear_URL_de_YouTube
                let regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
                let match = this.news.video[0].uri.match(regExp);
                this.video = (match && match[7].length == 11) ? match[7] : '';
            }
        },
        name: "News"
    }
</script>

<style scoped>
    .news-image {
        width: 480px;
    }

    .news-item {
        text-align: center;
    }

    .news-link {
        text-align: right;
    }

    iframe {
        max-width: 100%;
        height: auto;
        min-height: 300px;
    }
</style>