<template>
    <div class="news-item col">
        <ashvatha-spinner v-if="!('id' in newsItem)"></ashvatha-spinner>
        <img class="news-image" :src="newsItem.image" alt="article image" v-if="!videoID && newsItem.image">
        <iframe :src="'https://www.youtube.com/embed/' + videoID" allow="autoplay; encrypted-media" allowfullscreen=""
                width="968" height="575" frameborder="0" v-if="videoID"></iframe>
        <h3>{{ newsItem.name }}</h3>
        <div v-html="newsItem.body"></div>
        <div class="news-license" v-if="newsItem.license">{{ newsItem.license }}</div>
        <div class="news-link" v-if="newsItem.sourceURL">
            <a :href="newsItem.sourceURL">{{ newsItem.sourceURL }}</a>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import Spinner from '../Spinner'

    export default {
        data() {
            return {
                id: 0,
                videoID: ''
            }
        },
        computed: {
            ...mapGetters({
                newsItem: 'news/getNewsItem'
            })
        },
        mounted() {
            this.id = this.$route.params.id;
            this.$store.dispatch('news/getNewsInfo', this.id).then(() => {
                console.log(this.newsItem);
                if (this.newsItem.video.length > 0) {
                    // Get YouTube Video ID, modified from:
                    // http://web.archive.org/web/20160926134334/http://lasnv.net/foro/839/Javascript_parsear_URL_de_YouTube
                    let regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
                    let match = this.newsItem.video[0].uri.match(regExp);
                    this.videoID = (match && match[7].length == 11) ? match[7] : '';
                }
            });

            // const accessToken = localStorage.getItem('access_token');
            // const reqHeader = {Authorization: `Bearer ${accessToken}`};
            //
            // this.$http.get('https://ashvatha.org/d8/web/organization/ashvatha?_format=json', { headers : reqHeader}).then((res) => {
            //     console.log(res);
            // }).catch((err) => {
            //     console.log(err.response);
            // });
        },
        name: "NewsInfo",
        components: {
            ashvathaSpinner: Spinner
        }
    }
</script>

<style scoped>
    iframe {
        max-width: 100%;
        height: 500px;
        max-height: 50vw;
    }
</style>