<template>
    <div id="app">
        <ashvatha-header></ashvatha-header>
        <ashvatha-navbar></ashvatha-navbar>
        <div id="ashvatha-content">
            <div class="container">
                <transition name="fade" mode="out-in">
                    <router-view></router-view>
                </transition>
            </div>
        </div>
        <ashvatha-footer></ashvatha-footer>
        <notifications group="alerts" position="bottom center"/>
    </div>
</template>

<script>
    import Navbar from './components/Navbar.vue'
    import Footer from './components/Footer.vue'
    import Header from './components/Header.vue'
    import ashvathaAxios from './ashvatha-axios'

    export default {
        name: 'app',
        components: {
            ashvathaHeader: Header,
            ashvathaNavbar: Navbar,
            ashvathaFooter: Footer
        },
        mounted() {
            if (window.innerWidth >= 992) {
                this.$store.commit('setMobile', false);
            }
            window.addEventListener('resize', () => {
                if (window.innerWidth >= 992) {
                    this.$store.commit('setMobile', false);
                } else {
                    this.$store.commit('setMobile', true);
                }
            });
            ashvathaAxios.getCsrfToken();
        },
        created() {
            console.log(this.$store.getters['user/getID']);
            //this.$store.dispatch('checkLogin');
            this.$store.dispatch('user/getMyInfo');
        }

    }
</script>

<style>
    body {
        background-color: #f5f5f5;
    }
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
    }

    #ashvatha-content {
        padding: 37px 23px 23px;
    }

    h1 {
        margin-bottom: 1rem;
    }

    img {
        max-width:100%;
    }

    .ashvatha-hr {
        background-image: url('https://ashvatha.org/sites/default/files/ashvatha-hr.png');
        border-top: none;
        height: 46px;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .ashvatha-hr-row {
        flex: 0 0 100%;
    }

    h1, h2, h3 {
        font-family: Federo, serif;
        color: #B17F4A;
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity 0.1s;
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
    {
        opacity: 0;
    }
</style>
