<template>
    <div class="group-item col-sm-6">
        <router-link :to="{ name: 'group', params: { id }}">
            <img class="group-image" :src="'https://ashvatha.org' + group.image" :alt="group.name + ' group image'">

            <h3>{{ group.name }}</h3>
            <p v-html="group.description"></p>
            <p>Members: {{ group.userCount }}</p>
        </router-link>
        <!--<div v-if="website">-->
        <!--<p><a :href="website">website</a></p>-->
        <!--</div>-->
    </div>
</template>

<script>
    export default {
        data() {
            return {
                // name: 'Loading...',
                website: '',
                // description: 'Loading...',
                // image: '',
                id: '0',
                // userCount: '',
            }
        },
        props: [
            'group',
        ],
        mounted() {
            // this.name = this.group.name;
            this.website = this.group.website;
            // this.description = this.group.description;
            // this.image = 'https://ashvatha.org' + this.group.image;
            this.id = this.group.id;
            // this.userCount = this.group.userCount;
        },
        name: "Group"
    }
</script>

<style scoped>
    .group-image {
        max-width: 200px;
    }

    .group-item {
        text-align: center;
    }

    .group-item a:hover {
        text-decoration: none;
    }

    a p {
        color: #333;
    }
</style>