<template>
    <div class="row">
        <ashvatha-spinner v-if="groups.length < 1"></ashvatha-spinner>
        <ashvatha-group v-for="group in groups" :key="group.id" :group="group" v-else>
        </ashvatha-group>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import Group from './Group'
    import Spinner from '../Spinner'

    export default {
        name: "GroupListing",
        computed: {
            ...mapGetters({
                groups: 'groups/getGroups'
            })
        },
        mounted() {
            this.$store.dispatch('groups/getGroupList');

            // const accessToken = localStorage.getItem('access_token');
            // const reqHeader = {Authorization: `Bearer ${accessToken}`};
            //
            // this.$http.get('https://ashvatha.org/d8/web/organization/ashvatha?_format=json', { headers : reqHeader}).then((res) => {
            //     console.log(res);
            // }).catch((err) => {
            //     console.log(err.response);
            // });
        },
        components: {
            ashvathaGroup: Group,
            ashvathaSpinner: Spinner
        }
    }
</script>

<style scoped>

</style>