<template>
    <div class="group-info">
        <ashvatha-spinner v-if="!('id' in group)"></ashvatha-spinner>
        <div v-else>
            <div class="row">
                <div class="col-md-8">
                    <img class="group-image" :src="'https://ashvatha.org' + group.image"
                         :alt="group.name + ' group image'">

                    <h3>{{ group.name }}</h3>
                    <p v-html="group.description"></p>
                    <p>Members: {{ memberCount }}</p>
                    <div v-if="loggedIn">
                        <button @click="joinGroup" v-if="!isMember">Join Group</button>
                        <button @click="leaveGroup" v-else>Leave Group</button>
                    </div>
                    <div class="group-articles" v-for="article in group.members" :key="article.id">

                    </div>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li v-for="member in group.members" :key="member.id">{{member.name}}</li>
                    </ul>
                </div>
            </div>
            <div class="row" v-if="group.articles.length > 0">
                <div class="col-12">
                    <h3>Latest Articles</h3>
                </div>
                <ashvatha-news v-for="newsItem in group.articles" :key="newsItem.id" :news="newsItem"></ashvatha-news>
            </div>
        </div>
    </div>
</template>

<script>
    import News from '../news/News'
    import {mapGetters, mapState} from 'vuex'
    import Spinner from '../Spinner'


    export default {
        data() {
            return {
                id: 0,
            }
        },
        computed: {
            ...mapGetters({
                group: 'groups/getGroup',
                // posts: 'groups/getPosts',
                // members: 'groups/getMembers',
                memberCount: 'groups/getMemberCount'
            }),
            isMember() {
                let groups = this.$store.getters['user/getGroups'];
                //return groups.includes(this.id);
                return groups.some(g => g.id === this.id);
            },
            ...mapState({
                loggedIn: 'loggedIn'
            })
        },
        methods: {
            joinGroup() {
                this.$store.dispatch('groups/joinGroup', this.id).then(() => {
                    //this.$store.dispatch('groups/getGroupInfo', this.id);
                    this.$store.commit('user/addGroup', {id: this.id, title:this.group.name});
                    //let groups = this.$store.getters['user/getGroups'];
                    //groups = groups.push(this.id);
                    //this.$store.commit('user/setGroups', groups);
                });
            },
            leaveGroup() {
                this.$store.dispatch('groups/leaveGroup', this.id).then(() => {
                    //this.$store.dispatch('groups/getGroupInfo', this.id);
                    this.$store.commit('user/removeGroup', this.id);
                    // let groups = this.$store.getters['user/getGroups'];
                    // groups = groups.filter(item => item !== this.id);
                    // this.$store.commit('user/setGroups', groups);
                });
            }
        },
        mounted() {
            this.id = this.$route.params.id;
            this.$store.dispatch('groups/getGroupInfo', this.id);
        },
        components: {
            ashvathaNews: News,
            ashvathaSpinner: Spinner
        },
        name: "GroupInfo"
    }
</script>

<style scoped>

</style>